.woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt:disabled[disabled], .woocommerce #respond input#submit.alt:disabled[disabled]:hover, .woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt:disabled[disabled], .woocommerce a.button.alt:disabled[disabled]:hover, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled], .woocommerce button.button.alt:disabled[disabled]:hover, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt:disabled[disabled], .woocommerce input.button.alt:disabled[disabled]:hover{

background-color: #cc0000;
color: #fff
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover{
  background: #ffb645;
background-image: linear-gradient(0deg, #ffb645, #ffe68e);
color: #5a460a !important;
box-shadow: inset 0 1px hsla(0, 0%, 100%, .6);
background: #ffc600;
background-image: linear-gradient(0deg, #faa21b, #ffc600);
border: 1px solid #ec9a10;
  opacity:0.7;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{

background-color: #cc0000;
color: #fff	
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{

float: left;
padding: 0;
position: relative;
width: 33%;

margin: 1px 1px;
height: auto;
padding: 10px;


}
.woocommerce ul.products li.product a img{



display: block;
margin: 0 0 1em;
background: white;
position: relative;
margin:auto;
border-radius:999px;
}

.attachment-shop_catalog.size-shop_catalog.wp-post-image{
  max-width: 100%;
width: auto;
max-height: 100%;
height: auto;
}

ul.products{

margin: 0px !important;


}

.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3{
padding: .5em 0;
font-size: 1em;
float: left;
color: black;
width: 100%;
text-align:center;
word-wrap: break-word;
/* IE 5.5-7 */
white-space: -moz-pre-wrap;
/* Firefox 1.0-2.0 */
white-space: pre-wrap;
/* current browsers */


}

.woocommerce ul.products li.product .price{


display: block;
font-weight: 400;
font-size: .857em;
margin-top: 27px;
float: left;
color:black;
border-radius: 3px;
width: auto;

/* max-width: 20%; */

}



.woocommerce ul.products li.product .button{
margin: auto;
margin-top: 1.5em;
margin-right: 0.5em;
float: right;
overflow: hidden;






}

.header-cart-count{


border-radius: 99px;
width: 20px;
height: 20px;
background: #ff3019;
/* Old browsers */
background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%);
/* FF3.6-15 */
background: -webkit-linear-gradient(top, #ff3019 0%, #cf0404 100%);
/* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ff3019 0%, #cf0404 100%);
/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404', GradientType=0 );

vertical-align: middle;
text-align: center;
color: white;
font-weight: bold;
position: absolute;
right: -5%;
top: 0px;


}

.woocommerce-cart-form{

width: 50%;
float: left;
}

.cart_totals{

width: 49%;
margin-left: 1%;;
margin-top: 0px;
position: relative;
top: 0px;



}
.widget_shopping_cart{

  box-shadow: 1px 1px 10px #bbbbbb;
}
.cart_totals h2{

margin-top: 0px;

}

.variations .label {

font-size: 17px;
color: black;




}
.variations .value{

display: block;
float: left;
width: 100%;
}

.variations select{

  display: block;
float: left;
width: 100%;
}

.entry-summary .product_title{
width: 100%!important;
display: block!important;
float: left!important;
color: black!important;
padding: 10px!important;
border-bottom: 2px solid rgba(0, 0, 0, 0.14);

margin-bottom: 5px;

}
.woocommerce div.product p.price, .woocommerce div.product span.price , .wf_product_view .price{

display: block !important;
vertical-align: middle !important;
padding: 10px !important;
background: #cc0000 !important;
color: white !important;
text-align: right !important;
float: right;
border-left:5px solid black;



}


.widget_shopping_cart_content {
background: white;
padding: 15px;
margin-top: 0px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
background: white;
border-radius: 0px;
}
ul.products {
margin: 10px!important;
}
.type-product {
background: white;
padding:25px;

}

.type-page{
background:white!important;
border-radius:5px!important;
padding:25px!important;
}
.header-cart-items {
margin-top:10px;
float:left;

}
.header-cart-items span{
  vertical-align: middle;
    color: white;
    padding-top: 30px;
    height: 100%;
}



 /*  ______   ___       ____     _____
  /_  __/  /   |     / __ )   / ___/
   / /    / /| |    / __  |   \__ \
  / /    / ___ |   / /_/ /   ___/ /
 /_/    /_/  |_|  /_____/   /____/
*/

.woocommerce div.product .woocommerce-tabs ul.tabs li{

  background-color: #cc0000;


}
.woocommerce div.product .woocommerce-tabs ul.tabs li a{

  color:#ffffff;  

}


.woocommerce div.product .woocommerce-tabs ul.tabs li{


  border: none;
  border-radius: 0px;
margin: 0 2px;
padding: 0 1em;




}

.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover{

  color:#ffffff;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:hover{

  background-color:#000000;
}



.woocommerce div.product .woocommerce-tabs ul.tabs li::after, .woocommerce div.product .woocommerce-tabs ul.tabs li::before{

  height:0px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs::before{

  position: relative;
  border-bottom: 1px solid #d3ced2;


}

.woocommerce div.product .woocommerce-tabs .panel{

  padding:10px;
}


 .quantity .qty::-webkit-inner-spin-button, 
.quantity .qty::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0;   
}
 .quantity .qty {
vertical-align: middle;
text-align: center;
}

.qty-change-button {
background: dimgray;
color: white;
font-weight: bold;

-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
border: none;
text-align: center;
}

.qty-change-button:hover {
background-color: #dad8da;
color: #515151

}


.woocommerce-variation-price {

width: 15%;
float: left;
margin-top: 10px;

}
.woocommerce-variation-price .price{
background: rgba(255, 255, 255, 0) !important;
color: black !important;
padding: 0px !important;
text-align:center!important;
margin:0px;
float:left;
border:none;


}

.woocommerce-product-details__short-description{


	width: 100%;
float: left;
display: block;

padding: 10px;
}

.woocommerce-variation-price .woocommerce-Price-amount {

  color:#000000;
}

.quantity {

display: block;
width: 100%;
float: left;
margin-top:10px;
}

.woocommerce div.product form.cart div.quantity{

  float: left;
margin: 0 10px 0 0;
width: auto;
}

.woocommerce-variation-add-to-cart .quantity .input-text  {

padding: 1.5px;
max-width: 40px;
border: 1px solid grey;
margin-top: -2px;


}

.woocommerce-variation-add-to-cart .single_add_to_cart_button .alt{

  width: 49.1% !important;
float: left;
display: block;


}
.woocommerce-message{

  border-top-color: #cc0000;
  
}

.woocommerce-message::before{
  color: #cc0000;
}

.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover{

background-color: white;
border-color:white;
color:white

}


.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button{
  background: #ffb645;
background-image: linear-gradient(0deg, #ffb645, #ffe68e);
color: #5a460a!important;
box-shadow: inset 0 1px hsla(0, 0%, 100%, .6);
background: #ffc600;
background-image: linear-gradient(0deg, #faa21b, #ffc600);
border: 1px solid #ec9a10;
}


.woocommerce-info{

  border-top-color: #cc0000;
}

.woocommerce-info:before{
  color: #cc0000;

}
.showlogin{

  padding:10px;
  background:#cc0000;
  border-radius: 5px;
  color:white;
}

.showlogin:hover{

  padding:10px;
  background:#cc0000;
  border-radius: 5px;
  color:white;
  text-decoration: none;
}

.woocommerce .woocommerce-form-login .woocommerce-Button {

  color: black;
background-color: #fcf3ff;
}

.woocommerce .woocommerce-form-login .woocommerce-Button:hover {

  color: black;
background-color: #fcf3ff;
}
.woocommerce .woocommerce-form-login {


  border: 5px solid #cc0000;
padding: 20px;
margin: 2em 0;
background: #cc0000;
color: white;
text-align: left;
border-radius: 5px;


}


 /*    __  ___      __    _ __
    /  |/  /___  / /_  (_) /__
   / /|_/ / __ \/ __ \/ / / _ \
  / /  / / /_/ / /_/ / / /  __/
 /_/  /_/\____/_.___/_/_/\___/   
*/
@media screen and (max-width: 768px) {


.woocommerce ul.products li.product, .woocommerce-page ul.products li.product, .woocommerce-page[class*=columns-] ul.products li.product, .woocommerce[class*=columns-] ul.products li.product{

float: left;
padding: 0;
position: relative;
width: 100%;
border-bottom: 1px solid rgba(0, 0, 0, 0.16);
margin: 1px 1px;

}
.woocommerce ul.products li.product a img{


display: block;
margin: 0 0 1em;
box-shadow: none;
float: left;
top: 10px;
background: white;
bottom: 10px;
left: 10px;
position: relative;


}

.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3{

padding: .1em 0;
font-size: 1em;
float: left;
margin: 5%;
color: black;
width: 30%;
word-wrap: break-word;
/* IE 5.5-7 */
white-space: -moz-pre-wrap;
/* Firefox 1.0-2.0 */
white-space: pre-wrap;
/* current browsers */



}

.woocommerce ul.products li.product .price{


color: black;
display: block;
font-weight: 400;
font-size: .857em;
float: left;
border-radius: 3px;




}



.woocommerce ul.products li.product .button{
margin: auto;
margin-left: 0%;
margin-top: 5%;
margin-right: 2%;
float: right;


}

.checkout-button.button.alt.wc-forward{


	position:fixed;
bottom:0px;
right:0px;
left:0px;
z-index:1000;
width:100%;
margin:0px;
}

.woocommerce #payment #place_order, .woocommerce-page #payment #place_order{

text-align: center;
margin-bottom: 1em;
font-size: 1.25em;
padding: 1em;
position: fixed;
bottom: 0px;
right: 0px;
left: 0px;
z-index: 1000;
width: 100%;
margin: 0px;


}

.woocommerce-cart-form{

width: 100%;
float: left;
}

.woocommerce .cart-collaterals .cart_totals, .woocommerce .cart-collaterals .cross-sells, .woocommerce .cart-collaterals .shipping_calculator, .woocommerce-page .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cross-sells, .woocommerce-page .cart-collaterals .shipping_calculator{

width: 100%;
margin-left: 0%;
margin-top: 0px;
position: relative;
float:left;
}


.single_add_to_cart_button.button.alt{

position: fixed!important;
    bottom: 0px!important;
    right: 0px!important;
    left: 0px!important;
    z-index: 1000!important;
    width: 100%!important;
    margin: 0px!important;
    font-size: 20px!important;
    border-radius: 0px!important;

}

.header-cart {
position: fixed;
bottom: 0px;
width: 100%;
background: #ffb645;
background-image: linear-gradient(0deg, #ffb645, #ffe68e);
color: #5a460a !important;
box-shadow: inset 0 1px hsla(0, 0%, 100%, .6);
background: #ffc600;
background-image: linear-gradient(0deg, #faa21b, #ffc600);
border: 1px solid #ec9a10;
left: 0px;
right: 0px;
z-index: 2;
}


} /*end woocommerce mobile*/





/*   _____    __  ___   ___       __       __             _____    ______   ____     ______   ______   _   __
  / ___/   /  |/  /  /   |     / /      / /            / ___/   / ____/  / __ \   / ____/  / ____/  / | / /
  \__ \   / /|_/ /  / /| |    / /      / /             \__ \   / /      / /_/ /  / __/    / __/    /  |/ /
 ___/ /  / /  / /  / ___ |   / /___   / /___          ___/ /  / /___   / _, _/  / /___   / /___   / /|  /
/____/  /_/  /_/  /_/  |_|  /_____/  /_____/         /____/   \____/  /_/ |_|  /_____/  /_____/  /_/ |_/
*/

@media screen and (max-width: 320px) {

  .woocommerce ul.products li.product a img{


height: 35px;
width: auto;
  }



}





/*    ______     __                ____        __  _
   / ____/  __/ /__________ _   / __ \____  / /_(_)___  ____  _____
  / __/ | |/_/ __/ ___/ __ `/  / / / / __ \/ __/ / __ \/ __ \/ ___/
 / /____>  </ /_/ /  / /_/ /  / /_/ / /_/ / /_/ / /_/ / / / (__  )
/_____/_/|_|\__/_/   \__,_/   \____/ .___/\__/_/\____/_/ /_/____/
                                  /_/*/

.extra-options-title{
width: 100%;
background: #cc0000;
padding: 10px;
color: white;
float: right;
border-top-right-radius: 5px;
border-top-left-radius: 5px;

}

.extra-options-table td{
	color:#000000;
}

/*    __  ___         ___                               __
   /  |/  /_  __   /   | ______________  __  ______  / /_
  / /|_/ / / / /  / /| |/ ___/ ___/ __ \/ / / / __ \/ __/
 / /  / / /_/ /  / ___ / /__/ /__/ /_/ / /_/ / / / / /_
/_/  /_/\__, /  /_/  |_\___/\___/\____/\__,_/_/ /_/\__/
       /____/*/

.woocommerce-account .woocommerce-MyAccount-navigation{
float: left;
width: 100%;
}

.woocommerce-MyAccount-navigation-link{


margin: 20px 10px !important;
list-style: none;
float:left;
}

.woocommerce-MyAccount-navigation-link a{


  background: #cc0000;
color: white;
padding: 10px;
}
.woocommerce-account .woocommerce-MyAccount-content{
	float: right;
width: 100%;
padding: 10px;
}

.woocommerce-mini-cart__empty-message{
  text-align: center;
background: rgb(247, 247, 247);
border-radius: 10px;
padding: 20px;
}
.widget_shopping_cart .widget-title{
  background: white;
border-radius: 0px;
color: black;
text-transform: uppercase;
text-align: center;
padding: 15px 0 13px;
text-align: center;
line-height: 1;
font-weight: 700;
font-size: 20px;
text-transform: uppercase;
letter-spacing: 2px;


}
.woocommerce .quantity .qty{

  width:25px;
}




